services:
  goapp:
    container_name: goapp
    image: goapp:1.0.0
    build: 
      context: ./backend
      dockerfile: go.dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./var/logs:/app/logs
      - ./backend/stream:/app/stream
    environment:
      - DATABASE_URL=root:root@tcp(db:3306)/chicka?parseTime=true
      - GOOGLE_CLIENT_ID=133391445476-8br7ooacrdvlk4td7hs2lqaeriojgfn2.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback
      - RTSPURL=rtsp://rtspstream:EYwGCqvgP72fo-btZ9UqN@zephyr.rtsp.stream/people
      - HLSDIR=./stream
      - HLSFILE=./stream/stream.m3u8
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  db:
    container_name: db
    image: mysql:latest
    environment:
      MYSQL_USER: chicka
      MYSQL_PASSWORD: gembull
      MYSQL_DATABASE: chicka
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306 
    volumes:
      - mysql:/var/lib/mysql
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container
    links:
      - db
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306

volumes:
  mysql: {}